<h1> Data Science Tools and Ecosystem </h1>

***

<h2> In this notebook, Data Science Tools and Ecosystem are summarized. </h2>

<h3> Objectives: </h3>

- List popular languages for Data Science.
- List popular libraries for Data Science.
- List popular tools for Data Science.
- Examples involving arithmetic expressions using the Python.

<h3> Some of the popular languages that Data Scientists use are: </h3>

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

<h3> Some of the commonly used libraries used by Data Scientists include: </h3>

1. Pandas
2. Numpy
3. Matplotlib
4. Scikit-Learn
5. TensorFlow
6. Apache Spark
7. ggplot2

<h3> Some of the Data Science Tools most commonly used by Data Scientists are: </h3>

| Data Science Tools |
| :----------------: |
|Jupyter Notebooks|
| RStudio |
| MySQL |
| Apache Airflow |

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [5]:
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2> Author </h2>
Iris Marrufo